.addTask {
  height: 3.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 1.6875rem)
}

.addTask input {
  height: 3.375rem;
  width: 100%;
  margin-right: 0.5rem;
  border-width: 0px;
  border-radius: 8px;
  color: var(--gray-100);
  background-color: var(--gray-500);
  padding: 1rem;
}

.addTask input:focus {
  box-shadow: 0 0 0 2px var(--purple-dark);
}

.addTask input::placeholder {
  color: var(--gray-300);
}
@media only screen and (max-width: 360px) {
  .addTask input::placeholder {
    font-size: 13px;
  }
}

.addTask button {
  height: 3.25rem;
  width: 5.625rem;
  border-width: 0px;
  border-radius: 8px;
  color: var(--gray-100);
  background-color: var(--blue-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  cursor: pointer;

  padding: 1rem;

  transition: background-color 0.2s;
}

.addTask button:hover {
  background-color: var(--blue);
}


.addTask button img {
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
}